.tutorial-highlight {
  position: relative;
  z-index: 9999;
}

.tutorial-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(0, 0, 0);
  opacity: 0.4;
}

.tutorial-wrapper {
  position: absolute;

  transform-style: preserve-3d;
  transform-origin: 0 0;

  transition: transform 400ms ease;
  will-change: transform;

  &.skip-animation {
    transition: none;

    & > .tutorial-background {
      transition: none;
    }
  }
}

.tutorial-background {
  position: absolute;

  border-radius: 2px;
  box-shadow: 0px 1px 2px #333;

  background-color: white;

  transform-origin: 0 0;

  transition: width 400ms ease, height 400ms ease;
  will-change: width, height;
}

.tutorial-index {
  position: absolute;
  display: block;

  top: -12px;
  left: -12px;

  width: 20px;
  height: 20px;

  font-size: 16px;
  font-style: normal;

  text-align: center;

  border: 1px solid black;
  border-radius: 50%;

  background-color: white;
}

.tutorial-box {
  position: absolute;
  display: inline-block;

  z-index: 9998;

  min-width: 320px;
  width: 30%;
  max-width: 400px;

  border-radius: 4px;
  box-shadow: 0px 1px 2px #333;

  background-color: white;

  will-change: top;

  &.south:before {
      content: "";
      position: absolute;
      top: -5px;
      left:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid white;
  }

  &.north:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
  }

  & > .custom-box {
    padding: 15px;

    overflow: hidden;
  }

  & > .tutorial-box-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    position:relative;

    & > .tutorial-title {
      font-size: 18px;
      font-weight: bold;
      padding: 15px;
      border-radius: 3px;
    }

    & > .tutorial-description {
      line-height: 1.1em;
      padding:15px;
    }

    & > .tutorial-step-position {
      display: inline;
    }

    & > .tutorial-buttons {
      display: flex;
      justify-content:space-between;
      align-items:center;
      padding:15px;

      & > div > a {
        text-decoration: none;
        background-color: #ffffff;
        color: #444444;
        padding: 4px 10px;
        display: inline-block;
        border: 1px solid darkgrey;

        &:hover {
          background:#f2f2f2;
        }

        &:first-of-type {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:last-of-type {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border-left: none;
        }

        &.disabled {
          pointer-events: none;
          color: #aaaaaa;
        }
      }

      & > .tutorial-close {
        position: absolute;
        top: 20px;
        z-index: 1;
        right: 20px;
        width: 10px;
        height: 10px;

        &:before,
        &:after {
          content: "";
          width: 15px;
          height: 2px;
          background: #444444;
          position: absolute;
          top: 4px;
          right: 0px;
          transform: rotateZ(45deg);
        }

        &:after {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}

.progressbar-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: white;
  z-index: 9999;
  padding:0px 50px;
  box-sizing:border-box;

  & > .progressbar-track {
    width: 100%;
    position: relative;
    left: 0px;
    height: 5px;
    background: #f2f2f2;
    margin: 25px 0px;

    & > span {
      position: absolute;
      width: 0%;
      left: 0px;
      height: 5px;
      background: #79d679;
      transition:width 1s;
    }
  }

  & > ul {
    position: relative;
    margin-top: -53px;
    padding: 0px 40px;
    height: 100%;

    & > li {
      list-style-type: none;
      position: absolute;
      margin-left: -15px;
      width: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor:pointer;

      & > span {
        border: 1px solid #ddd;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        display: block;
        text-align: center;
        margin:0 auto;
        line-height: 25px;
        background: white;
        transition:0.2s;
      }

      &.active,
      &.finished {
        color:white;

        & > span {
          background: #79d679;
          border: 1px solid #79d679;
        }
      }

    }
  }
}
