.tutorial-highlight {
  position: relative;
  z-index: 9999;
}

.tutorial-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(0, 0, 0);
  opacity: 0.4;
}

.tutorial-wrapper {
  position: absolute;

  transform-style: preserve-3d;
  transform-origin: 0 0;

  transition: transform 400ms ease;
  will-change: transform;

  &.skip-animation {
    transition: none;

    & > .tutorial-background {
      transition: none;
    }
  }
}

.tutorial-background {
  position: absolute;

  border-radius: 2px;
  box-shadow: 0px 1px 2px #333;

  background-color: white;

  transform-origin: 0 0;

  transition: width 400ms ease, height 400ms ease;
  will-change: width, height;
}

.tutorial-index {
  position: absolute;
  display: block;

  top: -12px;
  left: -12px;

  width: 20px;
  height: 20px;

  font-size: 16px;
  font-style: normal;

  text-align: center;

  border: 1px solid black;
  border-radius: 50%;

  background-color: white;
}

.tutorial-box {
  position: absolute;
  display: inline-block;

  z-index: 9998;

  padding: 8px;

  min-width: 250px;
  width: 30%;
  max-width: 320px;

  border-radius: 4px;
  box-shadow: 0px 1px 2px #333;

  background-color: white;

  will-change: top;

  & > .tutorial-box-edge {
    position: absolute;

    top: -5px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
  }

  & > .tutorial-box-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    position:relative;

    & > .tutorial-description {
      line-height: 1.1em;

      margin: 0 0 1em 0;
    }

    & > .tutorial-step-position {
      display: inline;
    }

    & > .tutorial-buttons {
      display: flex;
      justify-content:space-between;
      align-items:center;

      & > div > a {
        text-decoration: none;
        background-color: #ffffff;
        color: #444444;
        padding: 4px 10px;
        display: inline-block;
        border: 1px solid darkgrey;

        &:hover {
          background:#f2f2f2;
        }

        &:first-of-type {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:last-of-type {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border-left: none;
        }
      }

      & > .tutorial-close {
        position: absolute;
        top: 5px;
        z-index: 1;
        right: 0px;
        width: 10px;
        height: 10px;

        &:before,
        &:after {
          content: "";
          width: 10px;
          height: 2px;
          background: #444444;
          position: absolute;
          top: 4px;
          right: 0px;
          transform: rotateZ(45deg);
        }

        &:after {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}
